body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 225, 213, 0.779);
    background: url(https://i.pinimg.com/736x/56/f9/f3/56f9f3b47c5b917f3ac6f95ece139a16.jpg) center/cover;
}

html, body, h1, header, .header {
  margin: 0;
  padding: 0;
}

ul li a img {
    width: 85px;  
    height: 50px;   
    vertical-align: middle;  
}

.header img{
display: block;  
  width: 100%;   
  height: auto;    
}

.footer img{
    display: block;  
    width: 100%;   
    height: auto;    
    margin-bottom: -50px;
}

.symbols{
    color: rgb(255, 140, 210);
    font-size: 25px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(246, 211, 233);
    border: rgb(255,140,211) solid;
    border-width: 5px 9px 5px 9px;
    border-radius: 0;
    box-sizing: border-box;
    top: 187px;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    float: left;
}

li a, .analisisbtn, .solusibtn{
    display: inline-block;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 4px 12px;
    text-decoration: none;
}

li a:hover, .analisis:hover .analisisbtn:hover{
    background-color: rgb(251, 128, 191);
    color: white;
}

li.analisis{
    display: inline-block;
}

.analisis-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 171, 200);
    min-width: 160px;
    z-index: 1;
}

.analisis-content a{
    color: rgb(248, 235, 235);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.analisis:hover .analisis-content{
    display: block;
}


ul li a, .analisisbtn, .solusibtn{
    font-family: 'ab';
    color: mintcream;
    font-size: 20px;

}

@font-face {
    font-family: 'ab';
    src: url('Romantic\ Christmas.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppinsbold';
    src: url('Poppins-SemiBold.ttf');
}

/* solusi */
li a, .solusibtn{
    display: inline-block;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    
}

li a:hover, .solusi:hover .solusibtn:hover{
    background-color: rgb(251, 128, 191);
    color: white;
}

li.solusi{
    display: inline-block;
}

.solusi-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 171, 200);
    min-width: 160px;
    z-index: 1;
}

.solusi-content a{
    color: rgb(255, 245, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.solusi:hover .solusi-content{
    display: block;
}

/* bentuk bentuk kerja sama */
li a, .bentuk2btn{
    display: inline-block;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    
}

li a:hover, .bentuk2:hover .bentuk2btn:hover{
    background-color: rgb(251, 128, 191);
    color: white;
}

li.bentuk2{
    display: inline-block;
}

.bentuk2-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 171, 200);
    min-width: 160px;
    z-index: 1;
}

.bentuk2-content a{
    color: rgb(255, 245, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.bentuk2:hover .bentuk2-content{
    display: block;
}

table,td{
    padding: 10px;
    width: 90%;
    padding: 0px;
}


/* Bilateral */
.judulbilateral {
    text-align: center;
    width: 800px;
    height: 65px;
    background-image: url(https://i.pinimg.com/1200x/bb/0e/52/bb0e52d94243a71ef13f377a5dc87512.jpg);
    background-color: rgba(255, 105, 180, 0.674);
    border-radius: 8px;
    transition: ease-in-out 0.3s;
    justify-self: center;
}

.judulbilateral:hover {
    transform: scale(1.3);
}
.content-container {
    margin-top: 100px; 
    padding: 20px;
    text-align: center;}

.main-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    margin-top: 10px; 
    padding: 20px;
}

h2.titlebilateral {
    font-family: 'poppinsbold';
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    margin-bottom: 20px;
    justify-self: center;
    transition: ease-in-out 0.3s;
}

h2.titlebilateral:hover {
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    transform: scale(1.3);
    background-color: hotpink;
    border-radius: 3px;
}

/* Gallery */
.gallery-section {
    background-image: url(https://i.pinimg.com/736x/0d/8e/7b/0d8e7bf95adff6cc6086b26fa66f8f63.jpg);
    border-radius: 8px;
    padding: 15px;
    border: solid rgb(255, 160, 222) 3px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 8px;
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    border: solid rgb(251, 128, 191) 3px;
    box-shadow: 2px 2px 5px black;
    transition: ease-in-out 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* pengertian bilateral */
.pengertianbilateral {
    margin-bottom: 20px;
    background-image: url(https://i.pinimg.com/1200x/32/2f/d9/322fd9fcc195ca82229423379b50a21a.jpg);
    background-color: #ff63b6ac;
    border: solid rgb(255, 160, 222) 3px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
    
   
}

.pengertianbilateral:hover {
    transform: scale(1.03);
}

.pengertianbilateral h3 {
    font-size: 24px;
    font-family: 'poppinsbold';
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
}

.pengertianbilateral p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    font-family: 'poppins';
}

h3 {
    font-size: 30px;
    font-family: 'poppinsbold';
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
    justify-self: center;
    transition: ease-in-out 0.3s;
}

h3:hover {
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.263);
    border-radius: 3px;
}

.pengertianbilateral1 {
    margin-bottom: 20px;
    background-image: url(https://i.pinimg.com/1200x/32/2f/d9/322fd9fcc195ca82229423379b50a21a.jpg);
    background-color: #ff63b6ac;
    border: solid rgb(255, 160, 222) 3px;
    padding: 15px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
    
   
}

.pengertianbilateral1:hover {
    transform: scale(1.03);
}

.pengertianbilateral1 h3 {
    font-size: 24px;
    font-family: 'poppinsbold';
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
}

.pengertianbilateral1 p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    font-family: 'poppins';
}

/* pictures */
div.pictures{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 152, 212, 0.53);
    border: solid rgb(255, 121, 184) 3px;
    width: 1200px;
    border-radius: 10px;
    margin: 20px;  
    padding: 10px;
    transition: transform 0.3s ease;
}

img.picture4{
    margin: 15px;
    border-radius: 10px;
    border: solid rgb(251, 128, 191) 3px;
    box-shadow: 2px 2px 5px black;
    transition: transform 0.3s ease;
}

div.pictures img:hover{
  transform: scale(1.05); 
}

