body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 225, 213, 0.779);
    background: url(https://i.pinimg.com/736x/56/f9/f3/56f9f3b47c5b917f3ac6f95ece139a16.jpg) center/cover;
}

html, body, h1, header, .header {
  margin: 0;
  padding: 0;
}

ul li a img {
    width: 85px;  
    height: 50px;   
    vertical-align: middle;  
}

.header img{
display: block;  
  width: 100%;   
  height: auto;    
}

.footer img{
    display: block;  
    width: 100%;   
    height: auto;    
    margin-bottom: -50px;
}

.symbols{
    color: rgb(255, 140, 210);
    font-size: 25px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(246, 211, 233);
    border: rgb(255,140,211) solid;
    border-width: 5px 9px 5px 9px;
    border-radius: 0;
    box-sizing: border-box;
    top: 187px;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    float: left;
}

li a, .analisisbtn, .solusibtn{
    display: inline-block;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 4px 12px;
    text-decoration: none;
}

li a:hover, .analisis:hover .analisisbtn:hover{
    background-color: rgb(251, 128, 191);
    color: white;
}

li.analisis{
    display: inline-block;
}

.analisis-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 171, 200);
    min-width: 160px;
    z-index: 1;
}

.analisis-content a{
    color: rgb(248, 235, 235);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.analisis:hover .analisis-content{
    display: block;
}


ul li a, .analisisbtn, .solusibtn{
    font-family: 'ab';
    color: mintcream;
    font-size: 20px;

}

@font-face {
    font-family: 'ab';
    src: url('Romantic\ Christmas.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppinsbold';
    src: url('Poppins-SemiBold.ttf');
}

/* solusi */
li a, .solusibtn{
    display: inline-block;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    
}

li a:hover, .solusi:hover .solusibtn:hover{
    background-color: rgb(251, 128, 191);
    color: white;
}

li.solusi{
    display: inline-block;
}

.solusi-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 171, 200);
    min-width: 160px;
    z-index: 1;
}

.solusi-content a{
    color: rgb(255, 245, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.solusi:hover .solusi-content{
    display: block;
}

/* bentuk bentuk kerja sama */
li a, .bentuk2btn{
    display: inline-block;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    
}

li a:hover, .bentuk2:hover .bentuk2btn:hover{
    background-color: rgb(251, 128, 191);
    color: white;
}

li.bentuk2{
    display: inline-block;
}

.bentuk2-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 171, 200);
    min-width: 160px;
    z-index: 1;
}

.bentuk2-content a{
    color: rgb(255, 245, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.bentuk2:hover .bentuk2-content{
    display: block;
}

table,td{
    padding: 10px;
    width: 90%;
    padding: 0px;
}

/* perkenalan */
.perkenalan{
    justify-self: center;
    margin: 20px;
    width: 1150px;
    background-image: url(https://i.pinimg.com/736x/5b/a4/b8/5ba4b8e648dc22aa4c3d8ce6083e57ca.jpg);
    border: solid rgb(255, 168, 205) 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
    top: -1px;
    padding: 5px;
}

.perkenalan:hover {
  transform: scale(1.05); 
}

h2.judulperkenalan{
    font-family: 'poppinsbold';
    text-align: center;
    color: rgb(255, 240, 240);
    font-size: 25px;
    text-shadow: 2px 2px 4px black;
    padding-left: 5px;
}

p.isiperkenalan{
    font-family: 'poppins';
    text-align: center;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

/* konten */
.konten{
    margin: 20px;
    width: 800px;
    background-color: rgba(255, 201, 201, 0.564);
    background-image: url(https://i.pinimg.com/736x/a3/23/0e/a3230e29c63ada389ec0d90de50c1f4f.jpg);
    border: solid rgb(255, 160, 222) 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
    top: -1px;
}

.konten:hover {
  transform: scale(1.05); 
}

h2.apaitu{
    font-family: 'poppinsbold';
    text-align: left;
    color: rgb(255, 240, 240);
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    padding-left: 5px;
}

p.isiSDG{
    font-family: 'poppins';
    text-align: left;
    padding-left: 10px;
    color: rgb(255, 240, 240);
    font-size: 16px;
    text-shadow: 1px 1px 3px black;
}

div.konten2{
     margin: 20px;
    width: 350px;
    height: 620px;
    background-color: rgba(255, 201, 201, 0.575);
    border: solid rgb(255, 121, 184) 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    
}

.konten2{
    display: grid;
    justify-content: center;
}

img.allsdg{
    border-radius: 10px;
    border: solid rgb(251, 128, 191) 3px;
    box-shadow: 2px 2px 5px black; 
}

.konten img {
  display: block;     
  margin: 0 auto;   
  max-width: 100%;    
  height: auto;
}

img.picture1{
    margin: 15px;
    border-radius: 10px;
    border: solid rgb(251, 128, 191) 3px;
    box-shadow: 2px 2px 5px black;
}

.konten2:hover {
  transform: scale(1.05); 
}

/* Pictures */

div.pictures{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 152, 212, 0.53);
    border: solid rgb(255, 121, 184) 3px;
    width: 1200px;
    border-radius: 10px;
    margin: 20px;  
    padding: 10px;
    transition: transform 0.3s ease;
}
img.picture4{
    margin: 15px;
    border-radius: 10px;
    border: solid rgb(251, 128, 191) 3px;
    box-shadow: 2px 2px 5px black;
    transition: transform 0.3s ease;
}

img.pictures:hover{
  transform: scale(1.05); 
}

.pictures:hover {
  transform: scale(1.05); 
}



/* Jenis-jenis SDGs */
div.jenissdgs{
    display: grid;
    justify-content: center;
    background-color: rgba(255, 152, 212, 0.53);
    border: solid rgb(255, 121, 184) 3px;
    width: 850px;
    border-radius: 10px;
    margin: 10px;  
    padding: 8px;
    transition: transform 0.3s ease;
}

div.jenissdgs:hover {
  transform: scale(1.05); 
}


/* jenis jenis SDGs */

.jenisjenis {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;        
  justify-content: center; 
  background-color: rgba(255, 192, 203, 0.749);
  border-radius: 3px;
  width: 1250px;
  justify-self: center;
  margin-bottom: 10px;
}

div.sdg{
    margin: 10px;
    background-color: hotpink;
    border: solid rgb(251, 128, 191) 3px;
    border-radius: 10px;
    padding: 3px;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 5px black;
    transition: transform 0.3s ease;
}

.sdg:hover {
  transform: scale(1.05); 
}


h2.juduljenis{
    font-family: 'poppinsbold';
    text-align: center;
    color: rgb(255, 240, 240);
    font-size: 18px;
    text-shadow: 2px 2px 4px black;
    padding-left: 5px;
}

p.isisdg1{
    font-family: 'poppins';
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

h2.juduljenisjudul{
    font-family: 'poppinsbold';
    text-align: center;
    color: rgb(255, 240, 240);
    font-size: 29px;
    text-shadow: 2px 2px 4px black;
    padding-left: 5px;
}

div.jenisjudul{
    margin: 20px;
    width: 800px;
    background-color: rgba(255, 201, 201, 0.564);
    border: solid rgb(255, 160, 222) 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
    top: -1px;
    justify-self: center;
}

.jenisjudul:hover {
  transform: scale(1.05); 
}